In [1]:
import json
import numpy as np

In [7]:
user_id = "1010"

In [34]:
with open(f'../data/answers/{user_id}.json', 'r') as f:
    #answers = pd.read_json(f)
    #answers = f.read()
    answers = json.load(f)
    
    
with open(f'../data/additional_data/{user_id}.json', 'r') as f:
    additional_data = json.load(f)

In [31]:
from pandas.io.json import json_normalize

In [23]:
import pandas as pd

In [56]:
answers['data'][:2]

0    [fr_2__ct_1, fr_2__ct_answer_b, 1553852035944]
1    [fr_2__ct_2, fr_2__ct_answer_b, 1553852036055]
Name: data, dtype: object

In [47]:
answers = pd.DataFrame(answers)
#answers['question_id'] = answers['data'].str

In [62]:
answers[['question_id', 'answer', 'timestamp']] = pd.DataFrame(answers.data.values.tolist(), index=answers.index)

In [63]:
answers

,api_token,data,question_id,answer,timestamp
0,1553851994644,"[fr_2__ct_1, fr_2__ct_answer_b, 1553852035944]",fr_2__ct_1,fr_2__ct_answer_b,1553852035944
1,1553851994644,"[fr_2__ct_2, fr_2__ct_answer_b, 1553852036055]",fr_2__ct_2,fr_2__ct_answer_b,1553852036055
2,1553851994644,"[fr_2__ct_3, fr_2__ct_answer_a, 1553852037022]",fr_2__ct_3,fr_2__ct_answer_a,1553852037022
3,1553851994644,"[fr_2__ct_4, fr_2__ct_answer_a, 1553852037149]",fr_2__ct_4,fr_2__ct_answer_a,1553852037149
4,1553851994644,"[fr_2__ct_5, fr_2__ct_answer_a, 1553852037269]",fr_2__ct_5,fr_2__ct_answer_a,1553852037269
5,1553851994644,"[fr_2__ct_6, fr_2__ct_answer_e, 1553852038112]",fr_2__ct_6,fr_2__ct_answer_e,1553852038112
6,1553851994644,"[fr_2__ct_7, fr_2__ct_answer_e, 1553852038250]",fr_2__ct_7,fr_2__ct_answer_e,1553852038250
7,1553851994644,"[fr_2__ct_8, fr_2__ct_answer_e, 1553852038352]",fr_2__ct_8,fr_2__ct_answer_e,1553852038352
8,undefined,"[dt_fr_02, asdas, 1553852091004]",dt_fr_02,asdas,1553852091004
9,undefined,"[dt_fr_02, 111, 1553852092034]",dt_fr_02,111,1553852092034
10,undefined,"[dt_fr_02, dt, 1553852094946]",dt_fr_02,dt,1553852094946
11,undefined,"[dt_fr_02, dt, 1553852095393]",dt_fr_02,dt,1553852095393
12,undefined,"[dt_fr_02, dt, 1553852095777]",dt_fr_02,dt,1553852095777
13,undefined,"[dt_fr_02, dt, 1553852096198]",dt_fr_02,dt,1553852096198
14,1553852137831,"[fr_2__ct_1, fr_2__ct_answer_b, 1553852239251]",fr_2__ct_1,fr_2__ct_answer_b,1553852239251
15,1553852137831,"[fr_2__ct_2, fr_2__ct_answer_b, 1553852239360]",fr_2__ct_2,fr_2__ct_answer_b,1553852239360
16,1553852137831,"[fr_2__ct_3, fr_2__ct_answer_c, 1553852240452]",fr_2__ct_3,fr_2__ct_answer_c,1553852240452
17,1553852137831,"[fr_2__ct_4, fr_2__ct_answer_a, 1553852242155]",fr_2__ct_4,fr_2__ct_answer_a,1553852242155
18,1553852137831,"[fr_2__ct_5, fr_2__ct_answer_a, 1553852242260]",fr_2__ct_5,fr_2__ct_answer_a,1553852242260
19,1553852137831,"[fr_2__ct_6, fr_2__ct_answer_a, 1553852242416]",fr_2__ct_6,fr_2__ct_answer_a,1553852242416
20,1553852137831,"[fr_2__ct_7, fr_2__ct_answer_a, 1553852248429]",fr_2__ct_7,fr_2__ct_answer_a,1553852248429
21,1553852137831,"[fr_2__ct_8, fr_2__ct_answer_a, 1553852248539]",fr_2__ct_8,fr_2__ct_answer_a,1553852248539
22,1553852137831,"[fr_2__ct_9, fr_2__ct_answer_a, 1553852248677]",fr_2__ct_9,fr_2__ct_answer_a,1553852248677
23,1553852137831,"[fr_2__ct_10, fr_2__ct_answer_a, 1553852248803]",fr_2__ct_10,fr_2__ct_answer_a,1553852248803
24,1553852137831,"[dt_fr_02, asdad, 1553852299414]",dt_fr_02,asdad,1553852299414
25,1553852137831,"[dt_fr_02, asdasd, 1553852299956]",dt_fr_02,asdasd,1553852299956
26,1553852137831,"[dt_fr_02, 111, 1553852301282]",dt_fr_02,111,1553852301282
27,1553852137831,"[dt_fr_02, 11122, 1553852302321]",dt_fr_02,11122,1553852302321

In [45]:
json_normalize(answers[0], 'data', ['api_token'])

                   0      api_token
0         fr_2__ct_1  1553851994644
1  fr_2__ct_answer_b  1553851994644
2      1553852035944  1553851994644

In [33]:
answers

        api_token                                             data
0   1553851994644   [fr_2__ct_1, fr_2__ct_answer_b, 1553852035944]
1   1553851994644   [fr_2__ct_2, fr_2__ct_answer_b, 1553852036055]
2   1553851994644   [fr_2__ct_3, fr_2__ct_answer_a, 1553852037022]
3   1553851994644   [fr_2__ct_4, fr_2__ct_answer_a, 1553852037149]
4   1553851994644   [fr_2__ct_5, fr_2__ct_answer_a, 1553852037269]
5   1553851994644   [fr_2__ct_6, fr_2__ct_answer_e, 1553852038112]
6   1553851994644   [fr_2__ct_7, fr_2__ct_answer_e, 1553852038250]
7   1553851994644   [fr_2__ct_8, fr_2__ct_answer_e, 1553852038352]
8       undefined                 [dt_fr_02, asdas, 1553852091004]
9       undefined                   [dt_fr_02, 111, 1553852092034]
10      undefined                    [dt_fr_02, dt, 1553852094946]
11      undefined                    [dt_fr_02, dt, 1553852095393]
12      undefined                    [dt_fr_02, dt, 1553852095777]
13      undefined                    [dt_fr_02, dt, 1553852096198]
14  1553852137831   [fr_2__ct_1, fr_2__ct_answer_b, 1553852239251]
15  1553852137831   [fr_2__ct_2, fr_2__ct_answer_b, 1553852239360]
16  1553852137831   [fr_2__ct_3, fr_2__ct_answer_c, 1553852240452]
17  1553852137831   [fr_2__ct_4, fr_2__ct_answer_a, 1553852242155]
18  1553852137831   [fr_2__ct_5, fr_2__ct_answer_a, 1553852242260]
19  1553852137831   [fr_2__ct_6, fr_2__ct_answer_a, 1553852242416]
20  1553852137831   [fr_2__ct_7, fr_2__ct_answer_a, 1553852248429]
21  1553852137831   [fr_2__ct_8, fr_2__ct_answer_a, 1553852248539]
22  1553852137831   [fr_2__ct_9, fr_2__ct_answer_a, 1553852248677]
23  1553852137831  [fr_2__ct_10, fr_2__ct_answer_a, 1553852248803]
24  1553852137831                 [dt_fr_02, asdad, 1553852299414]
25  1553852137831                [dt_fr_02, asdasd, 1553852299956]
26  1553852137831                   [dt_fr_02, 111, 1553852301282]
27  1553852137831                 [dt_fr_02, 11122, 1553852302321]

In [26]:
answers = pd.DataFrame(answers)

ValueError: cannot label index with a null key

In [18]:
additional_data

[{'api_token': '1553851994644',
  'data': {'gender': 'f',
   'age': '121',
   'field_of_study': 'asd',
   'country_of_origin': 'asd',
   'mother_tongue': 'asd',
   'played_music_before': True,
   'email': '',
   'user_id': '1010'}},
 {'api_token': '1553851994644',
  'data': {'user_id': '1010',
   'data': [{'timestamp': 1553852024820,
     'values': {'relaxed': 50,
      'tired': 50,
      'happy': 50,
      'energetic': 20.75,
      'sad': 50}}]}}]

In [38]:
ls ../data/additional_data/

1010.json

In [14]:
!rm ../data/answers/*
!rm ../data/additional_data/*

In [39]:
cat ../data/additional_data/1010.json

[{"api_token": "1553778412490", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553778412490", "data": {"user_id": "1010", "data": [{"timestamp": "28/03/2019, 14:06:56", "values": [{"mood_name": "relaxed", "mood_value": 50}, {"mood_name": "tired", "mood_value": 50}, {"mood_name": "happy", "mood_value": 50}, {"mood_name": "energetic", "mood_value": 50}, {"mood_name": "sad", "mood_value": 50}]}]}}, {"api_token": "1553778431093", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553778431093", "data": {"user_id": "1010", "data": [{"timestamp": "28/03/2019, 14:07:15", "values": [{"mood_name": "relaxed", "mood_value": 50}, {"mood_name": "tired", "mood_value": 50}, {"mood_name": "happy", "mood_value": 50}, {"mood_name": "energetic", "mood_value": 50}, {"mood_name": "sad", "mood_value": 50}]}]}}, {"api_token": "1553778482405", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553778482405", "data": {"user_id": "1010", "data": [{"timestamp": "28/03/2019, 14:08:06", "values": [{"mood_name": "relaxed", "mood_value": 50}, {"mood_name": "tired", "mood_value": 50}, {"mood_name": "happy", "mood_value": 50}, {"mood_name": "energetic", "mood_value": 50}, {"mood_name": "sad", "mood_value": 50}]}]}}, {"api_token": "1553778910184", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553778910184", "data": {"user_id": "1010", "data": [{"timestamp": 1553778920862, "values": [{"mood_name": "relaxed", "mood_value": 50}, {"mood_name": "tired", "mood_value": 50}, {"mood_name": "happy", "mood_value": 50}, {"mood_name": "energetic", "mood_value": 50}, {"mood_name": "sad", "mood_value": 50}]}]}}, {"api_token": "1553778910184", "data": {"user_id": "1010", "data": [{"timestamp": 1553778920862, "values": [{"mood_name": "relaxed", "mood_value": 50}, {"mood_name": "tired", "mood_value": 50}, {"mood_name": "happy", "mood_value": 50}, {"mood_name": "energetic", "mood_value": 50}, {"mood_name": "sad", "mood_value": 50}]}, {"timestamp": 1553779043951, "values": [{"mood_name": "relaxed", "mood_value": 50}, {"mood_name": "tired", "mood_value": 50}, {"mood_name": "happy", "mood_value": 50}, {"mood_name": "energetic", "mood_value": 50}, {"mood_name": "sad", "mood_value": 50}]}]}}, {"api_token": "1553779237105", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553779489283", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553779594877", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553779594877", "data": {"user_id": "1010", "data": [{"timestamp": 1553779598842, "values": [{"mood_name": "relaxed", "mood_value": 50}, {"mood_name": "tired", "mood_value": 50}, {"mood_name": "happy", "mood_value": 50}, {"mood_name": "energetic", "mood_value": 50}, {"mood_name": "sad", "mood_value": 50}]}]}}, {"api_token": "1553779609324", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553779718219", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553780502932", "data": {"age": "", "field_of_study": "", "country_of_origin": "", "mother_tongue": "", "email": "", "user_id": "1010"}}, {"api_token": "1553780502932", "data": {"user_id": "1010", "data": [{"timestamp": 1553780522964, "values": [{"mood_name": "relaxed", "mood_value": 50}, {"mood_name": "tired", "mood_value": 50}, {"mood_name": "happy", "mood_value": 50}, {"mood_name": "energetic", "mood_value": 50}, {"mood_name": "sad", "mood_value": 50}]}]}}]

In [37]:
data

[{'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07'],
   ['ct_3', 'c', '28/03/2019, 14:07:07']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07'],
   ['ct_3', 'c', '28/03/2019, 14:07:07'],
   ['ct_4', 'c', '28/03/2019, 14:07:07']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07'],
   ['ct_3', 'c', '28/03/2019, 14:07:07'],
   ['ct_4', 'c', '28/03/2019, 14:07:07'],
   ['ct_5', 'c', '28/03/2019, 14:07:08']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07'],
   ['ct_3', 'c', '28/03/2019, 14:07:07'],
   ['ct_4', 'c', '28/03/2019, 14:07:07'],
   ['ct_5', 'c', '28/03/2019, 14:07:08'],
   ['ct_6', 'c', '28/03/2019, 14:07:08']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07'],
   ['ct_3', 'c', '28/03/2019, 14:07:07'],
   ['ct_4', 'c', '28/03/2019, 14:07:07'],
   ['ct_5', 'c', '28/03/2019, 14:07:08'],
   ['ct_6', 'c', '28/03/2019, 14:07:08'],
   ['ct_7', 'c', '28/03/2019, 14:07:08']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07'],
   ['ct_3', 'c', '28/03/2019, 14:07:07'],
   ['ct_4', 'c', '28/03/2019, 14:07:07'],
   ['ct_5', 'c', '28/03/2019, 14:07:08'],
   ['ct_6', 'c', '28/03/2019, 14:07:08'],
   ['ct_7', 'c', '28/03/2019, 14:07:08'],
   ['ct_8', 'c', '28/03/2019, 14:07:08']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07'],
   ['ct_3', 'c', '28/03/2019, 14:07:07'],
   ['ct_4', 'c', '28/03/2019, 14:07:07'],
   ['ct_5', 'c', '28/03/2019, 14:07:08'],
   ['ct_6', 'c', '28/03/2019, 14:07:08'],
   ['ct_7', 'c', '28/03/2019, 14:07:08'],
   ['ct_8', 'c', '28/03/2019, 14:07:08'],
   ['ct_9', 'c', '28/03/2019, 14:07:08']]},
 {'api_token': '1553778412490',
  'data': [['ct_1', 'c', '28/03/2019, 14:07:07'],
   ['ct_2', 'c', '28/03/2019, 14:07:07'],
   ['ct_3', 'c', '28/03/2019, 14:07:07'],
   ['ct_4', 'c', '28/03/2019, 14:07:07'],
   ['ct_5', 'c', '28/03/2019, 14:07:08'],
   ['ct_6', 'c', '28/03/2019, 14:07:08'],
   ['ct_7', 'c', '28/03/2019, 14:07:08'],
   ['ct_8', 'c', '28/03/2019, 14:07:08'],
   ['ct_9', 'c', '28/03/2019, 14:07:08'],
   ['ct_10', 'c', '28/03/2019, 14:07:08']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26'],
   ['ct_2', 'b', '28/03/2019, 14:07:26']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26'],
   ['ct_2', 'b', '28/03/2019, 14:07:26'],
   ['ct_3', 'b', '28/03/2019, 14:07:27']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26'],
   ['ct_2', 'b', '28/03/2019, 14:07:26'],
   ['ct_3', 'b', '28/03/2019, 14:07:27'],
   ['ct_4', 'b', '28/03/2019, 14:07:27']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26'],
   ['ct_2', 'b', '28/03/2019, 14:07:26'],
   ['ct_3', 'b', '28/03/2019, 14:07:27'],
   ['ct_4', 'b', '28/03/2019, 14:07:27'],
   ['ct_5', 'b', '28/03/2019, 14:07:27']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26'],
   ['ct_2', 'b', '28/03/2019, 14:07:26'],
   ['ct_3', 'b', '28/03/2019, 14:07:27'],
   ['ct_4', 'b', '28/03/2019, 14:07:27'],
   ['ct_5', 'b', '28/03/2019, 14:07:27'],
   ['ct_6', 'b', '28/03/2019, 14:07:27']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26'],
   ['ct_2', 'b', '28/03/2019, 14:07:26'],
   ['ct_3', 'b', '28/03/2019, 14:07:27'],
   ['ct_4', 'b', '28/03/2019, 14:07:27'],
   ['ct_5', 'b', '28/03/2019, 14:07:27'],
   ['ct_6', 'b', '28/03/2019, 14:07:27'],
   ['ct_7', 'b', '28/03/2019, 14:07:27']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26'],
   ['ct_2', 'b', '28/03/2019, 14:07:26'],
   ['ct_3', 'b', '28/03/2019, 14:07:27'],
   ['ct_4', 'b', '28/03/2019, 14:07:27'],
   ['ct_5', 'b', '28/03/2019, 14:07:27'],
   ['ct_6', 'b', '28/03/2019, 14:07:27'],
   ['ct_7', 'b', '28/03/2019, 14:07:27'],
   ['ct_8', 'b', '28/03/2019, 14:07:27']]},
 {'api_token': '1553778431093',
  'data': [['ct_1', 'b', '28/03/2019, 14:07:26'],
   ['ct_2', 'b', '28/03/2019, 14:07:26'],
   ['ct_3', 'b', '28/03/2019, 14:07:27'],
   ['ct_4', 'b', '28/03/2019, 14:07:27'],
   ['ct_5', 'b', '28/03/2019, 14:07:27'],
   ['ct_6', 'b', '28/03/2019, 14:07:27'],
   ['ct_7', 'b', '28/03/2019, 14:07:27'],
   ['ct_8', 'b', '28/03/2019, 14:07:27'],
   ['ct_9', 'b', '28/03/2019, 14:07:27']]},
 {'api_token': '1553778910184',
  'data': [{'answer': 'bissextile / été', 'id': 'b'}]},
 {'api_token': '1553778910184',
  'data': [{'answer': 'livre / volume', 'id': 'c'}]},
 {'api_token': '1553778910184',
  'data': [{'answer': 'livre / piano', 'id': 'a'}]},
 {'api_token': '1553778910184', 'data': [{'answer': 'Diamètre', 'id': 'c'}]},
 {'api_token': '1553778910184', 'data': [{'answer': 'Poil', 'id': 'e'}]},
 {'api_token': '1553778910184', 'data': [{'answer': 'Ferme', 'id': 'c'}]},
 {'api_token': '1553778910184', 'data': [{'answer': 'Montre', 'id': 'a'}]},
 {'api_token': '1553778910184', 'data': [{'answer': 'Chine', 'id': 'c'}]},
 {'api_token': '1553778910184', 'data': [{'answer': 'Pièce', 'id': 'b'}]},
 {'api_token': '1553778910184',
  'data': [{'answer': 'pinceau / gouache', 'id': 'c'}]},
 {'api_token': '1553778910184',
  'data': [{'answer': 'Chemin / Cheveu', 'id': 'c'}]},
 {'api_token': '1553778910184',
  'data': [{'answer': 'Urologue/Cardiologue', 'id': 'a'}]}]

In [45]:
data[-1]

{'api_token': '1553782813739',
 'data': {'user_id': '1010',
  'data': [{'timestamp': 1553782829712,
    'values': {'relaxed': 18.75,
     'tired': 76.5,
     'happy': 60,
     'energetic': 50,
     'sad': 50}}]}}