In [1]:
import json
import numpy as np

In [2]:
ls ../data/additional_data/

1010.json  1613.json

In [3]:
user_id = "1613"

In [4]:
with open(f'../data/answers/{user_id}.json', 'r') as f:
    #answers = pd.read_json(f)
    #answers = f.read()
    answers = json.load(f)
    
    
with open(f'../data/additional_data/{user_id}.json', 'r') as f:
    additional_data = json.load(f)

In [5]:
from pandas.io.json import json_normalize

In [6]:
import pandas as pd

In [56]:
answers['data'][:2]

0    [fr_2__ct_1, fr_2__ct_answer_b, 1553852035944]
1    [fr_2__ct_2, fr_2__ct_answer_b, 1553852036055]
Name: data, dtype: object

In [7]:
answers = pd.DataFrame(answers)
#answers['question_id'] = answers['data'].str

In [8]:
answers[['question_id', 'answer', 'timestamp']] = pd.DataFrame(answers.data.values.tolist(), index=answers.index)

In [16]:
from datetime import datetime

answers['timestamp'] = answers['timestamp'].apply(lambda x: datetime.utcfromtimestamp(x / 1000).strftime('%Y-%m-%d %H:%M:%S'))

2019-04-01 12:57:53

In [19]:
answers

,api_token,data,question_id,answer,timestamp
0,1554123303528,"[fr_1__ct_1, fr_1__ct_answer_2, 1554123463146]",fr_1__ct_1,fr_1__ct_answer_2,2019-04-01 12:57:43
1,1554123303528,"[fr_1__ct_2, fr_1__ct_answer_3, 1554123473136]",fr_1__ct_2,fr_1__ct_answer_3,2019-04-01 12:57:53
2,1554123303528,"[fr_1__ct_3, fr_1__ct_answer_2, 1554123481674]",fr_1__ct_3,fr_1__ct_answer_2,2019-04-01 12:58:01
3,1554123303528,"[fr_1__ct_4, fr_1__ct_answer_5, 1554123493906]",fr_1__ct_4,fr_1__ct_answer_5,2019-04-01 12:58:13
4,1554123303528,"[fr_1__ct_5, fr_1__ct_answer_1, 1554123501921]",fr_1__ct_5,fr_1__ct_answer_1,2019-04-01 12:58:21
5,1554123303528,"[fr_1__ct_6, fr_1__ct_answer_5, 1554123507427]",fr_1__ct_6,fr_1__ct_answer_5,2019-04-01 12:58:27
6,1554123303528,"[fr_1__ct_7, fr_1__ct_answer_1, 1554123512933]",fr_1__ct_7,fr_1__ct_answer_1,2019-04-01 12:58:32
7,1554123303528,"[fr_1__ct_8, fr_1__ct_answer_5, 1554123516135]",fr_1__ct_8,fr_1__ct_answer_5,2019-04-01 12:58:36
8,1554123303528,"[fr_1__ct_9, fr_1__ct_answer_4, 1554123523947]",fr_1__ct_9,fr_1__ct_answer_4,2019-04-01 12:58:43
9,1554123303528,"[fr_1__ct_10, fr_1__ct_answer_3, 1554123532360]",fr_1__ct_10,fr_1__ct_answer_3,2019-04-01 12:58:52
10,1554123303528,"[fr_1__ct_11, fr_1__ct_answer_6, 1554123551261]",fr_1__ct_11,fr_1__ct_answer_6,2019-04-01 12:59:11
11,1554123303528,"[fr_1__ct_12, fr_1__ct_answer_4, 1554123559706]",fr_1__ct_12,fr_1__ct_answer_4,2019-04-01 12:59:19
12,1554123303528,"[dt_fr_13, sit, 1554123598336]",dt_fr_13,sit,2019-04-01 12:59:58
13,1554123303528,"[dt_fr_13, climb on, 1554123602569]",dt_fr_13,climb on,2019-04-01 13:00:02
14,1554123303528,"[dt_fr_13, dancing, 1554123605264]",dt_fr_13,dancing,2019-04-01 13:00:05
15,1554123303528,"[dt_fr_13, reach high things, 1554123610782]",dt_fr_13,reach high things,2019-04-01 13:00:10
16,1554123303528,"[dt_fr_13, throwing at intruder, 1554123616747]",dt_fr_13,throwing at intruder,2019-04-01 13:00:16
17,1554123303528,"[dt_fr_13, chaise longue -> relaxing, 15541236...",dt_fr_13,chaise longue -> relaxing,2019-04-01 13:00:24
18,1554123303528,"[dt_fr_13, chair of a company -> helps run it,...",dt_fr_13,chair of a company -> helps run it,2019-04-01 13:00:42
19,1554123303528,"[dt_fr_13, breaking window in case of fire, 15...",dt_fr_13,breaking window in case of fire,2019-04-01 13:00:56
20,1554123303528,"[dt_fr_13, gym tool, 1554123676832]",dt_fr_13,gym tool,2019-04-01 13:01:16
21,1554123303528,"[dt_fr_13, sleeping place , 1554123690678]",dt_fr_13,sleeping place,2019-04-01 13:01:30
22,1554123303528,"[fr_3__ct_1, fr_3__ct_answer_b, 1554123804284]",fr_3__ct_1,fr_3__ct_answer_b,2019-04-01 13:03:24
23,1554123303528,"[fr_3__ct_2, fr_3__ct_answer_b, 1554123813358]",fr_3__ct_2,fr_3__ct_answer_b,2019-04-01 13:03:33
24,1554123303528,"[fr_3__ct_3, fr_3__ct_answer_b, 1554123818228]",fr_3__ct_3,fr_3__ct_answer_b,2019-04-01 13:03:38
25,1554123303528,"[fr_3__ct_4, fr_3__ct_answer_c, 1554123826599]",fr_3__ct_4,fr_3__ct_answer_c,2019-04-01 13:03:46
26,1554123303528,"[fr_3__ct_5, fr_3__ct_answer_b, 1554123829899]",fr_3__ct_5,fr_3__ct_answer_b,2019-04-01 13:03:49
27,1554123303528,"[fr_3__ct_6, fr_3__ct_answer_d, 1554123835082]",fr_3__ct_6,fr_3__ct_answer_d,2019-04-01 13:03:55
28,1554123303528,"[fr_3__ct_7, fr_3__ct_answer_b, 1554123843335]",fr_3__ct_7,fr_3__ct_answer_b,2019-04-01 13:04:03
29,1554123303528,"[fr_3__ct_8, fr_3__ct_answer_c, 1554123850672]",fr_3__ct_8,fr_3__ct_answer_c,2019-04-01 13:04:10
...,...,...,...,...,...
69,1554123303528,"[dt_fr_04, pencil for stone, 1554124385959]",dt_fr_04,pencil for stone,2019-04-01 13:13:05
70,1554123303528,"[fr_2__ct_1, fr_2__ct_answer_b, 1554124511491]",fr_2__ct_1,fr_2__ct_answer_b,2019-04-01 13:15:11
71,1554123303528,"[fr_2__ct_2, fr_2__ct_answer_a, 1554124516296]",fr_2__ct_2,fr_2__ct_answer_a,2019-04-01 13:15:16
72,1554123303528,"[fr_2__ct_3, fr_2__ct_answer_a, 1554124519491]",fr_2__ct_3,fr_2__ct_answer_a,2019-04-01 13:15:19
73,1554123303528,"[fr_2__ct_4, fr_2__ct_answer_d, 1554124527075]",fr_2__ct_4,fr_2__ct_answer_d,2019-04-01 13:15:27
74,1554123303528,"[fr_2__ct_5, fr_2__ct_answer_a, 1554124534779]",fr_2__ct_5,fr_2__ct_answer_a,2019-04-01 13:15:34
75,1554123303528,"[fr_2__ct_6, fr_2__ct_answer_e, 1554124542531]",fr_2__ct_6,fr_2__ct_answer_e,2019-04-01 13:15:42
76,1554123303528,"[fr_2__ct_7, fr_2__ct_answer_b, 1554124546361]",fr_2__ct_7,fr_2__ct_answer_b,2019-04-01 13:15:46
77,1554123303528,"[fr_2__ct_8, fr_2__ct_answer_c, 1554124549634]",fr_2__ct_8,fr_2__ct_answer_c,2019-04-01 13:15:49
78,1554123303528,"[fr_2__ct_9, fr_2__ct_answer_c, 1554124556799]",fr_2__ct_9,fr_2__ct_answer_c,2019-04-01 13:15:56
79,1554123303528,"[fr_2__ct_10, fr_2__ct_answer_b, 1554124567405]",fr_2__ct_10,fr_2__ct_answer_b,2019-04-01 13:16:07
80,1554123303528,"[fr_2__ct_11, fr_2__ct_answer_c, 1554124582456]",fr_2__ct_11,fr_2__ct_answer_c,2019-04-01 13:16:22
81,1554123303528,"[fr_2__ct_12, fr_2__ct_answer_d, 1554124588963]",fr_2__ct_12,fr_2__ct_answer_d,2019-04-01 13:16:28
82,1554123303528,"[fr_2__ct_13, fr_2__ct_answer_c, 1554124598469]",fr_2__ct_13,fr_2__ct_answer_c,2019-04-01 13:16:38
83,1554123303528,"[fr_2__ct_14, fr_2__ct_answer_b, 1554124606252]",fr_2__ct_14,fr_2__ct_answer_b,2019-04-01 13:16:46
84,1554123303528,"[fr_2__ct_15, fr_2__ct_answer_d, 1554124619507]",fr_2__ct_15,fr_2__ct_answer_d,2019-04-01 13:16:59
85,1554123303528,"[fr_2__ct_16, fr_2__ct_answer_a, 1554124625615]",fr_2__ct_16,fr_2__ct_answer_a,2019-04-01 13:17:05
86,1554123303528,"[dt_fr_02, write in, 1554124648682]",dt_fr_02,write in,2019-04-01 13:17:28
87,1554123303528,"[dt_fr_02, read, 1554124650016]",dt_fr_02,read,2019-04-01 13:17:30
88,1554123303528,"[dt_fr_02, put in wet shoes, 1554124655546]",dt_fr_02,put in wet shoes,2019-04-01 13:17:35
89,1554123303528,"[dt_fr_02, crossword puzzle, 1554124662218]",dt_fr_02,crossword puzzle,2019-04-01 13:17:42
90,1554123303528,"[dt_fr_02, burn in fire, 1554124666324]",dt_fr_02,burn in fire,2019-04-01 13:17:46
91,1554123303528,"[dt_fr_02, soft dry thing to sit on, 155412467...",dt_fr_02,soft dry thing to sit on,2019-04-01 13:17:54
92,1554123303528,"[dt_fr_02, insulation, 1554124677415]",dt_fr_02,insulation,2019-04-01 13:17:57
93,1554123303528,"[dt_fr_02, news source, 1554124686958]",dt_fr_02,news source,2019-04-01 13:18:06
94,1554123303528,"[dt_fr_02, notebook for ideas, 1554124698854]",dt_fr_02,notebook for ideas,2019-04-01 13:18:18
95,1554123303528,"[dt_fr_02, cut out letters for threats, 155412...",dt_fr_02,cut out letters for threats,2019-04-01 13:18:29
96,1554123303528,"[dt_fr_02, roll up and hit flies, 1554124731440]",dt_fr_02,roll up and hit flies,2019-04-01 13:18:51
97,1554123303528,"[dt_fr_02, roll up and hit siblings/pets, 1554...",dt_fr_02,roll up and hit siblings/pets,2019-04-01 13:18:59
98,1554123303528,"[dt_fr_02, pretend loudspeaker, 1554124752217]",dt_fr_02,pretend loudspeaker,2019-04-01 13:19:12